name: Autorelease
on:
  push:
    branches:
      - master
jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up JDK
        uses: actions/setup-java@v5
        with:
          distribution: 'temurin'
          java-version: '24'
      - name: Build with Gradle
        run: ./gradlew build

      - name: Upload JAR artifacts
        uses: actions/upload-artifact@v4
        with:
          name: jar
          path: build/libs/*.jar
  release:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: softprops/action-gh-release@v2
        with:
          name: "Release: ${{ github.ref_name }}"
          tag_name: 'latest'
          draft: false
          files: release-files/*.jar
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}